In [1]:
#inporting libraries
import numpy as np
import pandas as pd

In [2]:
#function for data load
def data_load(x):
    return pd.read_csv(x)

In [3]:
#data load
x_train = 'F:/Titanic/train.csv'
train = data_load(x_train)
x_test = 'F:/Titanic/test.csv'
test = data_load(x_test)
train.info(), test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
PassengerId    418 non-null int64
Pclass         418 non-null int64
Name           418 non-null object
Sex            418 non-null object
Age            332 non-null float64
SibSp          418 non-null int64
Parch          418 non-null int64
Ticket         418 non-null object
Fare           417 non-null float64
Cabin          91 non-null object
Embarked       418 non-null object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB

(None, None)

In [4]:
#defining output format
output = pd.DataFrame()
output['PassengerId'] = test['PassengerId']

In [5]:
# missing values
train.isnull().sum(),test.isnull().sum()

(PassengerId      0
 Survived         0
 Pclass           0
 Name             0
 Sex              0
 Age            177
 SibSp            0
 Parch            0
 Ticket           0
 Fare             0
 Cabin          687
 Embarked         2
 dtype: int64, PassengerId      0
 Pclass           0
 Name             0
 Sex              0
 Age             86
 SibSp            0
 Parch            0
 Ticket           0
 Fare             1
 Cabin          327
 Embarked         0
 dtype: int64)

In [6]:
#handeling missing values for interested features
train['Age'] = train['Age'].fillna(train['Age'].median())
test['Age'] = test['Age'].fillna(test['Age'].median())

train['Embarked'] = train['Embarked'].fillna(train['Embarked'].describe()[2])
test['Fare'] = test['Fare'].fillna(test['Fare'].median())
train.isnull().sum(),test.isnull().sum()

(PassengerId      0
 Survived         0
 Pclass           0
 Name             0
 Sex              0
 Age              0
 SibSp            0
 Parch            0
 Ticket           0
 Fare             0
 Cabin          687
 Embarked         0
 dtype: int64, PassengerId      0
 Pclass           0
 Name             0
 Sex              0
 Age              0
 SibSp            0
 Parch            0
 Ticket           0
 Fare             0
 Cabin          327
 Embarked         0
 dtype: int64)

In [7]:
#modifying features
#train['SibSp'].describe(include='all')
train['family'] = train['SibSp'] + train['Parch']+1
test['family'] = test['SibSp'] + train['Parch']+1

In [8]:
#Dropping unrequired features
train = train.drop(['PassengerId','Name','SibSp','Parch','Cabin','Ticket'],axis=1)
test = test.drop(['PassengerId','Name','SibSp','Parch','Cabin','Ticket'],axis=1)
test['family'].describe(),train['family'].describe()

(count    418.000000
 mean       1.825359
 std        1.267800
 min        1.000000
 25%        1.000000
 50%        1.000000
 75%        2.000000
 max       13.000000
 Name: family, dtype: float64, count    891.000000
 mean       1.904602
 std        1.613459
 min        1.000000
 25%        1.000000
 50%        1.000000
 75%        2.000000
 max       11.000000
 Name: family, dtype: float64)

In [9]:
train['family']= train['family'].map({1:'Single',2:'Small',3:'Medium',4:'Large',5:'Large',6:'Large',7:'Large',8:'Large',9:'Large',10:'Large',11:'Large'})
test['family']= test['family'].map({1:'Single',2:'Small',3:'Medium',4:'Large',5:'Large',6:'Large',7:'Large',8:'Large',9:'Large',10:'Large',11:'Large',12:'Large',13:'Large'})

train.loc[train['Age']<15.0,'Age']= 1
train.loc[(train['Age']>14.0) & (train['Age']<24.0),'Age']= 2
train.loc[(train['Age']>23.0) & (train['Age']<30.0),'Age']= 3
train.loc[(train['Age']>29.0) & (train['Age']<36.0),'Age']= 4
train.loc[train['Age']>35.0,'Age']= 5
train['Age'] = train['Age'].map({1:'teen',2:'young',3:'adult',4:'matured',5:'old'})

test.loc[test['Age']<15.0,'Age']= 1
test.loc[(test['Age']>14.0) & (test['Age']<24.0),'Age']= 2
test.loc[(test['Age']>23.0) & (test['Age']<30.0),'Age']= 3
test.loc[(test['Age']>29.0) & (test['Age']<36.0),'Age']= 4
test.loc[test['Age']>35.0,'Age']= 5
test['Age'] = test['Age'].map({1:'teen',2:'young',3:'adult',4:'matured',5:'old'})

train.loc[train['Fare']<9.0,'Fare']= 1
train.loc[(train['Fare']>8.0) & (train['Fare']<16.0),'Fare']= 2
train.loc[(train['Fare']>15.0) & (train['Fare']<33.0),'Fare']= 3
train.loc[train['Fare']>32.0,'Fare']= 4
train['Fare'] = train['Fare'].map({1:'low',2:'medium',3:'high',4:'vip'})

test.loc[test['Fare']<9.0,'Fare']= 1
test.loc[(test['Fare']>8.0) & (test['Fare']<16.0),'Fare']= 2
test.loc[(test['Fare']>15.0) & (test['Fare']<33.0),'Fare']= 3
test.loc[test['Fare']>32.0,'Fare']= 4
test['Fare'] = test['Fare'].map({1:'low',2:'medium',3:'high',4:'vip'})

#dummy categories

In [10]:
#Replacing category values to numeric
train = pd.get_dummies(train,drop_first=True)
test = pd.get_dummies(test,drop_first=True)
train.describe(include='all')

,Survived,Pclass,Sex_male,Age_matured,Age_old,Age_teen,Age_young,Fare_low,Fare_medium,Fare_vip,Embarked_Q,Embarked_S,family_Medium,family_Single,family_Small
count,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000
mean,0.383838,2.308642,0.647587,0.126824,0.243547,0.087542,0.189675,0.349046,0.194164,0.234568,0.086420,0.725028,0.114478,0.602694,0.180696
std,0.486592,0.836071,0.477990,0.332962,0.429463,0.282787,0.392264,0.476936,0.395778,0.423966,0.281141,0.446751,0.318570,0.489615,0.384982
min,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,3.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000
75%,1.000000,3.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000
max,1.000000,3.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [11]:
#separating train test 
from sklearn.model_selection import train_test_split as tts
features_train,features_test,target_train,target_test = tts(train.drop(['Survived'],axis=1),train['Survived'],test_size=.2,random_state=10)

In [12]:
#separating target and features
target = target_train
train = features_train

In [13]:
#Building with Random Forest Model
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier(n_estimators=14).fit(train,target)
model

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=14,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [14]:
#finding accuracy of splitted test data
from sklearn.metrics import accuracy_score
accuracy_score(target_test,model.predict(features_test))

0.8603351955307262

# Predicting the given test data

In [15]:
output['Survived'] = model.predict(test)
output

     PassengerId  Survived
0            892         0
1            893         0
2            894         0
3            895         0
4            896         0
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]

In [16]:
output.to_csv('F:/Titanic/output.csv')